@using Microsoft.AspNetCore.Identity
@inject SignInManager<Domain.Entities.User.ApplicationUser> SignInManager
@model List<Domain.DTO.ProductDTO> 
@{  
    ViewData["Title"] = "Products";  
    Layout = "~/Views/Shared/_blogLayout.cshtml";  
}  
@section Styles{
    <link rel="stylesheet" href="~/css/Front/artist.css">
}
    <div class="section--title">
        <h2>Products</h2>
    </div>

    <section style="min-height:400px">
        <div class="artists--wrapper">
            @if(Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <div class="artist--content">
                        <img src="@item.ImageURL" alt="rover" style="width: 300px; height: 400px; object-fit: cover; border-radius: 1rem;" />
                
                        <h2>@item.Name</h2>
                        <p>Author: <b> <a href="/UserAccount/Profile?userName=@item.User.User.UserName">@item.User.User.UserName</a></b></p>
                         @if (SignInManager.IsSignedIn(User))
                         {
                        <p>
                            <div class="">
                                <form method="post" action="/Basket/Add">
                                    <input type="hidden" name="productId" value="@item.Id" />
                                    @Html.AntiForgeryToken()
                                    <!-- Button trigger modal -->
                                    <button style="width: 100%;
                                                    padding: .75rem;
                                                    font-size: 1rem;
                                                    border: none;
                                                    background-color: rgb(32, 32, 32);
                                                    color: rgb(240, 240, 240);
                                                    border-radius: 8px;
                                                    cursor: pointer;
                                                    margin-top:8px;
                                                    bottom: 0;
                                                    width: 150px;" type="submit">
                                        Add to Cart
                                    </button>
                                </form>
                            </div>
                        </p>
                         }
                    </div>
                }
            }
        </div>
    </section>
