@model Web.Areas.Identity.ViewModels.ResetPasswordViewModel
@{  
    ViewData["Title"] = "ForgotPassword";  
    Layout = "~/Views/Shared/_Layout2.cshtml";  
}  
@section Styles{
    <link rel="stylesheet" href="~/css/login.css">
}
 <div class="login-container">
        <div class="title">
            <h2>Reset Password</h2>
        </div>
        <form action="/Identity/Account/ResetPassword" method="POST">
            @Html.AntiForgeryToken()
            <div class="username">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", })  <br>
                @Html.ValidationMessageFor(m => m.Password, "")  
            </div>

            <div class="username">
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", })  <br>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "")  
            </div>
            <div class="help">

                <div class="forgot">
                    <a href="/Identity/Account/Login">Back to login</a>
                </div>
            </div>
            <input asp-for="Email" type="hidden" name="Email" value="@Model.Email" class="form-control" />
            <input asp-for="Token" type="hidden" name="Token" value="@Model.Token" class="form-control" />
            <div class="btn-login">
                <button type="submit">Reset</button>
            </div>
        </form>
    </div>
