@model Web.ViewModels.EditProfileViewModel
@{
    ViewData["Title"] = "Edit Profile";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Front/general.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap" rel="stylesheet">
    <title>general</title>
</head>
<body>
    <div class="container">
        <div class="settings__panel">
            <div class="settings__title--panel">
                <div class="general" style="border-left: 4px solid seagreen;">
                   <a href="/UserAccount/EditProfile">General</a>
                </div>
                
                <div class="security">
                   <a href="/UserAccount/ChangePassword">Privacy & Security</a>
                </div>
                
                <div class="cancel-account">
                    <a href="/UserAccount/Cancel">Cancel Account</a>
                </div>
            </div>
            
            
              <!--General Section-->  
            <div class="content-general">
                
                <form method="post" action="/UserAccount/UpdateProfile" enctype="multipart/form-data">  
                    @Html.AntiForgeryToken()
                    <div class="profile__image">
                        <div class="image-container">
                            @if(Model.UserProfile.Image != null)
                            {
                                <img src="@Model.UserProfile.Image" id="output" style="width: 75px; height: 75px; border-radius: 100%; object-fit: cover;margin-left:20px">
                            }
                            else
                            {
                            <img src="~/img/octane.jpg" id="output" style="width: 75px; height: 75px; border-radius: 100%; object-fit: cover;">

                            }
                        </div>   
                        <div class="info">
                            <h2>@User.Identity.Name</h2>
                            <p><input type="file"  accept="image/*" asp-for="@Model.UserProfile.ActualImage" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                            <p><label for="file" style="cursor: pointer;">Change Profile Picture</label></p>
                        </div>
                    </div>


                    <div class="about">                           
                        @* <input type="text" placeholder="Website"> *@
                        @Html.TextAreaFor(m => m.UserProfile.WorkDescription, new { @class = "form-control",@rows=7, @cols=30,placeholder="Bio" })
                        <span asp-validation-for="UserProfile.WorkDescription" class="text-danger"></span>
                    </div>

                    <div class="contact">                          
                        @Html.TextBoxFor(m => m.UserProfile.FacebookURL, new { placeholder = "Facebook URL" })
                        <span asp-validation-for="UserProfile.FacebookURL" class="text-danger"></span>
                    </div>

                    <div class="contact">                          
                        @Html.TextBoxFor(m => m.UserProfile.InstagramURL, new { placeholder = "Instagram URL" })
                        <span asp-validation-for="UserProfile.InstagramURL" class="text-danger"></span>
                    </div>

                    <div class="gender">                         
                        <input type="text" asp-for="@Model.UserProfile.Gender" placeholder="Gender">
                         <span asp-validation-for="UserProfile.Gender" class="text-danger"></span>
                    </div>

                    <div class="gender">
                        <div class="card-body">
                            @for (int i = 0; i < Model.UserCategories.Count; i++)
                            {
                                <div class="form-check m-1">
                                    <input type="hidden" asp-for="@Model.UserCategories[i].CategoryId" />
                                    <input type="hidden" asp-for="@Model.UserCategories[i].CategoryName" />
                                    <input asp-for="@Model.UserCategories[i].Selected" class="form-check-input" /> 
                                    <label class="form-check-label" asp-for="@Model.UserCategories[i].Selected" style="margin-left:45px">
                                        @Model.UserCategories[i].CategoryName
                                    </label>
                                </div>
                            }
                        
                        </div>
                    </div>

                    <div class="button-submit">
                        <button class="btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        </script>
</body>
</html>