@using Microsoft.AspNetCore.Identity
@inject SignInManager<Domain.Entities.User.ApplicationUser> SignInManager
@model Web.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
    Layout = "~/Views/Shared/_blogLayout.cshtml";  
}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Front/profile.css">

        @if(SignInManager.IsSignedIn(User)){
        @if(Model.User.UserName == Model.AuthUser.UserName){
        <!--modal settings-->
        <div class="bg__modal--settings">
            <div class="modal__content--settings">
                <div class="close">+</div>
                <div class="form">
                  
                    <div class="general">
                        <a href="/UserAccount/EditProfile">General</a>
                    </div>
                    <div class="security">
                        <a href="/UserAccount/ChangePassword">Privacy & Security</a>
                    </div>
                    <div class="logout">
                        <form id="logoutForm" method="Post" action="/Identity/Account/Logout">
                            <a onclick="document.getElementById('logoutForm').submit();" style="cursor: pointer">Logout</a>
                        </form>
                    </div>
                    <div class="cancel-account">
                        <a href="/UserAccount/Cancel">Cancel Account</a>
                    </div>
                      @if (User.IsInRole("Admin"))
                    {
                         <div class="logout">
                            <a href="/Admin/Home">Admin</a>
                        </div>
                    }
                </div>
            </div>
        </div>
        }
        }
    
        <div class="profile-container">
            <div class="profile__image">
                @if(Model.User.UserProfile.Image != null)
                {
                    <img src="@Model.User.UserProfile.Image" alt="">
                }
                else
                {
                    <img src="~/img/octane.jpg" alt="">
                }
            </div>
    
            <div class="profile__description">
                <h2>@Model.User.FirstName @Model.User.LastName</h2>
                @if(Model.User.UserProfile.UserCategories.Count > 0)
                {
                    <p>Interests: @foreach (var cat in Model.User.UserProfile.UserCategories)
                            {   
                                @cat.Category.Name  <text>&nbsp;</text>
                            } 
                    </p>

                }

                @if(Model.User.UserProfile.Products.Where(p => p.InStock == false).Count() > 0)
                {
                    <p>Sold products: @Model.User.UserProfile.Products.Where(p => p.InStock == false).Count()
                    </p>

                }

                @if(Model.User.UserProfile.WorkDescription != null)
                {
                    <p>@Model.User.UserProfile.WorkDescription</p>
                }
                @if(Model.User.UserName == Model.AuthUser.UserName){
                    <a href="/Product/AddProduct"><img src="~/img/add.png" alt=""></a>
                }
        </div>
    </header>

    <section>
        <div class="product-container">
            @foreach (var product in Model.User.UserProfile.Products.Where(p => p.InStock == true))
            {
                
                <div class="product">
                    <div class="product__image--main">
                        <img src="@product.ImageURL" alt="productMain" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                        
                    <div class="product--description">
                    <h1>@product.Name</h1>
                    <h2>@product.Price GEL</h2>
                    <h3>Category: @product.Category.Name</h3>
                    <p>@Html.Raw(product.Description)</p>
                        @if(SignInManager.IsSignedIn(User)){
                            @if(Model.User.UserName != Model.AuthUser.UserName){
                                <div class="btn--cart">
                                    <form method="post" action="/Basket/Add">
                                        <input type="hidden" name="productId" value="@product.Id" />
                                        @Html.AntiForgeryToken()
                                        <!-- Button trigger modal -->
                                        <button type="submit">
                                            Add to Cart
                                        </button>
                                    </form>
                                </div>

                            }
                        }
                        
                    </div>
                    @if(SignInManager.IsSignedIn(User)){
                    @if( Model.User.UserName == Model.AuthUser.UserName){
                        <div style="float:left;display:flex">
                            <div style="margin-right:15px;"><a href="/Product/Edit/@product.Id" class="edit-btn"><i class="fa fa-edit" style="padding: 2px;"></i></a></div>
                            <div style="margin-right:15px">
                                @* <a href="">
                                <i class="fa fa-trash-o"></i>
                                </a> *@

                                    <form method="post" action="/Product/Delete">
                                        <input type="hidden" name="id" value="@product.Id" />
                                        @Html.AntiForgeryToken()
                                        <!-- Button trigger modal -->
                                        <button type="submit" class="delete-btn">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </form>
                                </div>
                        </div>
                    }
                    }
                </div>
            }
        </div>
    </section>
    
@section Scripts
{
    <script>
        document.querySelector('.close').addEventListener('click', function() {
            document.querySelector('.bg__modal--settings').style.display = 'none';
            document.body.style.overflow = 'auto';
        });

        document.querySelector('.profile__image').addEventListener('click', function() {
            document.querySelector('.bg__modal--settings').style.display = 'flex';
            document.body.style.overflow = 'hidden';
        });
    </script>
}