
@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Identity
@inject SignInManager<Domain.Entities.User.ApplicationUser> SignInManager
@model Web.Areas.Admin.ViewModels.AddPostViewModel

@section Styles
{
}
<div class="container">
    <a href="/Admin/Post/Index" class="btn btn-primary float-right mb-2">Back</a>
    <form method="post" action="/Admin/Post/Store" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Post.Title)
            @Html.TextBoxFor(m => m.Post.Title, new { placeholder = "Enter Title", @class = "form-control" })
            <span asp-validation-for="Post.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Post.Description)
            <textarea asp-for="@Model.Post.Description" class="form-control" cols="30" rows="10"></textarea>
            <span asp-validation-for="Post.Description" class="text-danger"></span>
        </div>

        <img class="esh-catalog-thumbnail" id="readImg" src="@Model.Post.ImageURL" style="width:100px;height:100px" />
        <div class="form-group">
            @Html.LabelFor(m => m.ActualImage)
            <input type="file" onchange="readURL(this);" asp-for="@Model.ActualImage" class="form-control" />
            <span asp-validation-for="ActualImage" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#readImg')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}